.ups_logo {
    background-image: url(../images48x48/upslogo16x16.png) !important;
}

.mexico_blue {
    background-image: url(../images48x48/mexico16x16.png) !important;
}

.the_world_blue {
    background-image: url(../images48x48/the_world.png) !important;
}

.truck_blue {
    background-image: url(../images48x48/Mini-Truck-0116x16.png) !important;
}

.data_copy_blue {
    background-image: url(../images48x48/Data-Copy16x16Blue.png) !important;
}
.align_justify_blue {
    background-image: url(../images48x48/Align-Justify16x16Blue.png) !important;
}
.rectangle_blue {
    background-image: url(../images48x48/Rectangle16x16Blue.png) !important;
}
.image_blue {
    background-image: url(../images48x48/Images.16x16Bluepng.png) !important;
}
.template_blue {
    background-image: url(../images48x48/Reading-Panel16x16Blue.png) !important;
}

.codebarpdf_blue {
 	background-image: url(../images48x48/QR-CodeBar16x16Blue.png) !important;
}

.codebar128_blue {
	 background-image: url(../images48x48/Barcode16x16Blue.png) !important;
   
}

.database_blue {
    background-image: url(../images48x48/Data-Settings16x16Blue.png) !important;
}
.parcel48 {
    background-image: url( ../images48x48/Parcel16x16.png ) !important;
}
.add32x32 {
    background-image: url( ../images48x48/Add-New32x32Green.png ) !important;
}
.upload32x32 {
    background-image: url( ../images48x48/Document-Upload32x32.png ) !important;
}

.seguro32x32 {
    background-image: url( ../images48x48/Cube-Shield32x32.png ) !important;
}
.medidas32x32 {
    background-image: url( ../images48x48/Stationery-0232x32.png) !important;
}
.cod32x32 {
    background-image: url( ../images48x48/Cheque32x32.png) !important;
}
.deleteRed16x16 {
    background-image: url( ../images48x48/CloseRed16x16.png ) !important;
}

.delete32x32 {
    background-image: url( ../images48x48/Close32x32Green.png ) !important;
}
.reload32x32 {
    background-image: url( ../images48x48/Shape59Reload32x32Green.png ) !important;
}
.garbage32x32 {
    background-image: url( ../images48x48/Garbage-Open32x32Green.png ) !important;
}
.print32x32 {
    background-image: url( ../images48x48/Print32x32Green.png ) !important;
}
.reprint16x16blue {
    background-image: url( ../images48x48/Printer16x16blue.png ) !important;
}

.sale16x16 {
    background-image: url( ../images48x48/Dollar-Tag16x16Green.png ) !important;
}
.montacargas16x16 {
    background-image: url( ../images48x48/Forklift16sx16.png ) !important;
}
.minitruck16x16 {
    background-image: url( ../images48x48/Mini-Truck-0116x16.png ) !important;
}
.truck16x16 {
    background-image: url( ../images48x48/Truck-0116x16.png ) !important;
}
.businessman16x16 {
    background-image: url( ../images48x48/Business-Man16x16Green.png ) !important;
}
.openclash16x16 {
    background-image: url( ../images48x48/Counting-Machine16x16Green.png ) !important;
}
.closeclash16x16 {
    background-image: url( ../images48x48/Safety-Box-0216x16Green.png ) !important;
}

.tag16x16 {
    background-image: url( ../images48x48/Tag16x16Green.png ) !important;
}


.open_green{
    background-image: url(../images48x48/Infopath-Designer16x16Green.png) !important;
}

.close_green{
    background-image: url(../images48x48/Lync16x16Green.png) !important;
}
.pen_green{
    background-image: url(../images48x48/Editor16x16Green.png) !important;
}
.pen_red{
    background-image: url(../images48x48/Stationery-Pen16x16Red.png) !important;
}

.print_orange {
    background-image: url(../images48x48/Printer16x16Orange.png) !important;
}


.books_blue {
    background-image: url(../images48x48/Library-Books16x16Blue.png) !important;
}

.notas_blue {
    background-image: url(../images48x48/Note-0416x16Blue.png) !important;
}
.citas_blue {
    background-image: url(../images48x48/PBX16x16Blue.png) !important;
}

.excel_blue {
    background-image: url(../images48x48/Microsoft-Excel-2013-0216x16Blue.png) !important;
}

.excel_green {
    background-image: url(../images48x48/Microsoft-Excel-2013-0216x16Green.png) !important;
}

.rechazo_blue {
    background-image: url(../images48x48/Pusha16x16Blue.png) !important;
}

.search_blue {
    background-image: url(../images48x48/Search-Find16x16Blue.png) !important;
}


.ux-filtered-column {
    font-style: italic;
    font-weight: bold;
}

.ux-gridfilter-text-icon {
    background-image: url(../images48x48/Search-Find16x16Blue.png) !important;
}

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}

.ux-rangemenu-gt {
    background-image: url(../images48x48/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(../images48x48/less_than.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(../images48x48/equals.png) !important;
}





