.CASAMIENTO {
    background-image: url(./CASAMIENTO.png) !important;
}
.IMPRESO {
    background-image: url(./IMPRESO.png) !important;
}
.HISTORIA {
    background-image: url(./HISTORIA.png) !important;
}

.RECOLECCION {
    background-image: url(./RECOLECCION.png) !important;
}
.RECEPOFICRECOL {
    background-image: url(./RECEPOFICRECOL.png) !important;
}
.TRANSLADOLOCAL {
    background-image: url(./TRANSLADOLOCAL.png) !important;
}
.MOVCTROOPER {
    background-image: url(./MOVCTROOPER.png) !important;
}
.TRANSLADOFORANEO {
    background-image: url(./TRANSLADOFORANEO.png) !important;
}
.REPARTOENTREGA {
    background-image: url(./REPARTOENTREGA.png) !important;
}
.DETENIDOCTROOPER {
    background-image: url(./DETENIDOCTROOPER.png) !important;
}
.PRIMERAVISITA {
    background-image: url(./PRIMERAVISITA.png) !important;
}
.SEGUNDAVISITA {
    background-image: url(./SEGUNDAVISITA.png) !important;
}
.TERCERAVISITA {
    background-image: url(./TERCERAVISITA.png) !important;
}
.CONTROLENVIOS {
    background-image: url(./CONTROLENVIOS.png) !important;
}
.AOCURRE {
    background-image: url(./AOCURRE.png) !important;
}
.DEVOLUCIONORIGEN {
    background-image: url(./DEVOLUCIONORIGEN.png) !important;
}
.DESTRUCCCION {
    background-image: url(./DESTRUCCCION.png) !important;
}
.CANCELADA {
    background-image: url(./CANCELADA.png) !important;
}
.ACTIVO {
    background-image: url(./ACTIVO.png) !important;
}

.ENTREGADO {
    background-image: url(./ENTREGADO.png) !important;
}

.ENTREGADO {
    background-image: url(./ENTREGADO.png) !important;
}
.EXCEPCION {
    background-image: url(./EXCEPCION.png) !important;
}
.ACTAADMIN {
    background-image: url(./ACTAADMIN.png) !important;
}

.VENTA_NAC {
    background-image: url(../images48x48/Shopping-Bag16x16Blue.png) !important;
}

.NACIONAL {
    background-image: url(../images48x48/Load-Man16x16Blue.png) !important;
}

.INTERNACIONAL {
    background-image: url(../images48x48/the_world.png) !important;
}

.RECEPCIONCTE {
    background-image: url(../images48x48/Load-Man16x16Blue.png) !important;
}

