.estatus0{
     background-image: url(../images/Wrong.png) !important;
}
.estatus10{
        background-image: url(../images/Good.png) !important;
}
.estatus11{
    background-image: url(../images/Bid-0216x16Blue.png) !important;
}
.estatus20{
    background-image: url(../images/Documents16x16Blue.png) !important;
}
.estatus30{
    background-image: url(../images/police.png) !important;
}
.estatus40{
    background-image: url(../images/Stationery-Pen.png) !important;
}
.estatus90{
  background-image: url(../images/Garbage-Open16x16Red.png) !important;
}