<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="restful_in_log" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/opt/logs/restful_in.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d %5p [%t] %c{1} - %m%n"/> 
		</layout>>
	</appender>
	
	<appender name="consola" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.TTCCLayout">
			<param name="dateFormat" value="yyyy/MM/dd HH:mm:ss.SSS" />
		</layout>
	</appender>

    <logger name="com.opensymphony.xwork2">
        <level value="OFF" />
    </logger>
	<logger name="org.apache.cxf" additivity="true">
		<level value="fatal" />
	</logger>


 	<logger name="org.apache.struts">
        <level value="fatal" />
    </logger>
 
    <logger name="org.apache.struts2">
        <level value="fatal" />
    </logger>
 
    <logger name="freemarker.cache">
        <level value="fatal" />
    </logger>
 
    <logger name="freemarker.beans">
        <level value="fatal" />
    </logger>
 
    <logger name="org.apache.ibatis">
        <level value="fatal" />
    </logger>
	<logger name="org.apache.axis" additivity="true">
		
		<level value="fatal" />
	</logger>

	<logger name="org.apache.commons" additivity="true">
		<level value="fatal" />
	</logger>

	<logger name="gnp.smx" additivity="true">
		<level value="fatal" />
	</logger>

	<logger name="org.springframework" additivity="true">
		<level value="fatal" />
	</logger>

	<logger name="com.opensymphony" additivity="true">
		<level value="fatal" />
	</logger>
	
	<logger name="mx.com.gnp.ws.factory" additivity="true">
		<level value="fatal" />
	</logger>
	
	<logger name="com.mchange.v2" additivity="true">
		<level value="fatal" />
	</logger>	

	<logger name="org.hibernate" additivity="true">
		<level value="OFF" />
	</logger>
		<logger name="org.springframework.scheduling.quartz" additivity="true">
		<level value="fatal" />
	</logger>
	
	<root>
		<priority value="debug" />
		<appender-ref ref="restful_in_log" />
	</root>

</log4j:configuration>